body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;   
}

body > #content {
    box-shadow: -10px 10px 20px #A0A0A0;
    border: solid 1px #A0A0A0;
}

body{
    width:100%;
    height: 100%;
    background-image: url("../images/oui.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}


           /****************************************************
            *                CSS CHAT PRINCIPAL                *
            ****************************************************/

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 700px;
    background-color: #1E1F25;
    padding: 10px;
    border-radius: 20px;
}

#content h2, #content h3{
    position: absolute;
    display: inline-block;
    background-color: inherit;
    color: white;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}

#content h2 {
    top: -35px;
    left: 15px;
}

#content h3 {
    right: -11px;
    top: -10px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}

#content main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: rgba(255, 255, 255, 0.74);
    overflow-y: scroll;
    line-height: 1.2;
    scrollbar-color: #000 rgba(0,0,0,.15);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
#content main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}

#content main .mp {
    color: darkblue;   
}
#content main .moi {
    color: green;   
}
#content main .system {
    color: red;   
}
#content main img {
    max-width: 50%;
    vertical-align: text-top;
}   


           /****************************************************
            *                PIED CHAT PRINCIPAL               *
            ****************************************************/  

#content footer {
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}

#content footer input {
    height: 22px;
    font-size: 15px;
    border: 0;
    text-align: center;
}

input{
    text-align: center;
}

#content > footer input:first-child {
    width: calc(100% - 330px);
    font-size: 12px;
}

#content > footer input:last-child {
    float: right;
}


           /****************************************************
            *                    CSS BOUTONS                   *
            ****************************************************/

.btnStyle{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #921919;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin-left:2px;
}

.btnStyle:hover {
    background-image: url('http://scottyzen.com/cp/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}

.btnStyle:active {
    transform: translateY(4px);
}

.textStyle{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.74);
}

input[type="button"]:disabled{
    color: #434343;
    animation: none;
}

.muteOn{
    background : #4e4d4d;
}


           /****************************************************
            *                   LISTE JOUEURS                  *
            ****************************************************/
            
#content aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.74);
    line-height: 1;
    font-size: 14px;
    overflow: auto;
}


           /****************************************************
            *                    EMOTICONES                    *
            ****************************************************/

.emoji {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/emoji.png");
    background-size: 72px 72px;
}  
.rire {
    background-position: -4px -4px;   
}
.zzz {
    background-position: -28px -4px;   
}
.love {
    background-position: -52px -4px;   
}
.holala {
    background-position: -4px -28px;   
}
.grrr {
    background-position: -28px -28px;   
}
.triste {
    background-position: -52px -28px;   
}
.sourire {
    background-position: -4px -52px;   
}
.banane {
    background-position: -28px -52px;   
}
.malade {
    background-position: -52px -52px;   
}      
        
body > div, body > input[type=radio] {
    display: none;   
}
        
input[type=radio]:checked + div {
    display: block;   
}
       

           /****************************************************
            *                ECRAN DE CONNEXION                *
            ****************************************************/

#logScreen {
    background-image: url("../images/accueil.png");
    background-repeat:no-repeat;
    background-size: cover;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#logScreen > div {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}

#logScreen input, #bcImages input, .bcImagesGame input {
    padding: 3px;
    font-size: 80%;
    margin: 10px;
}


           /****************************************************
            *                       GIF                        *
            ****************************************************/

#bcImage, .bcImageGame{
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

#bcImage input[type=text], .bcImageGame input[type=text] {
    margin: 10px;
    width: calc(100% - 120px);
}

#bcImage #btnFermer, .bcImageGame .btnFermerGame{
    position: absolute; 
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#bcImage #bcResults{
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.bcImageGame .bcResultsGame{
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

#bcResults, .bcResultsGame{
    scrollbar-color: #000 rgba(0,0,0,.15);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

#bcResults img, .bcResultsGame img {
    width: 190px;
    margin: 2px;
    height: auto;
    cursor: pointer;
    align-self: center;
}


           /****************************************************
            *               FENETRE D'INVITATION               *
            ****************************************************/

#fenetreInvit{
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

#fenetreInvit footer{
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
    text-align: center;
}

#fenetreInvit input[type=checkbox]:checked + .labelStyle{
    background: #f0db1f ;
}

#fenetreInvit input[type=checkbox] + .labelStyle{
    background: none ;
}

#fenetreInvit input[type=checkbox]{
    visibility: hidden; 
}

.labelStyle {      
    position: relative; 
    top: 3px;
    color: #000000;
    transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);  
    cursor: pointer;
    user-select: none;
    margin-top: 7px;
    padding-right: 5px;
}

.labelStyle:before, .labelStyle:after {
    content: '';
    position: absolute; 
    transition: inherit;
    z-index: -1;
}

.labelStyle:hover {
    color: #000000;
    transition-delay: 0s;
}

.labelStyle:hover:before {
    transition-delay: 0s;
}

.labelStyle:hover:after {
    background: #f0db1f;
    transition-delay: .4s;
}

.effetSurli:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid #f0db1f;
    border-left: 0;
    border-right: 0;
}

.effetSurli:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #f0db1f;
}

.effetSurli:hover:before {
    left: 0;
    width: 100%;
}

.effetSurli:hover:after {
    top: 0;
    height: 100%;
}


           /****************************************************
            *                LIENS D'INVITATION                *
            ****************************************************/

#content main .lienActif{
    background-color:lightskyblue;
    text-decoration: underline blue;
}

#content main p a:hover.lienActif{
    background-color:yellow;
    transition-duration: 1s;
    cursor:pointer;
}


           /****************************************************
            *            HISTORIQUE / ONGLETS PARTIE           *
            ****************************************************/

 .inputList {
    position: absolute;
    left: 0;
    top: 20px;
    width: 240px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
}
  
#menuPartie:checked ~ul {
    height: 0%;
}

#historique:checked ~ul {
    height: 0%;
}

#listePartie{
    left: 30vh;
}

#histoPartie{
    right: 30vh;
}

.listSide{
    display: none;
    width: 250px;
    margin: 0px;
    padding: 5px;
    height: 448px;
    line-height: 1;
    font-size: 14px;
    overflow: auto;
    position: absolute;
    top: 25vh;
}

.listSide h1{
    border-radius: 5px;
    position: relative;
    background: #921919;
    height: 40px;
    text-transform: uppercase;
    color: ivory;
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
    transition: all .4s;
}

.listSide:hover h1{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
}

.listSide:hover:active h1{
    transform: translateY(10px);
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
}

.listSide h1:after {
    content: attr(data-text);
    position: absolute;
    text-shadow:4px 4px 0px #FFF, 
    7px 7px 0px #877667;left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: -1;
    line-height:normal;
    font-size:12rem;
    background-color:rgb(20, 19, 19);
     
}
  
.listSide ul {
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    margin-bottom: 22px;
    text-align: center;
    transition: all .4s ease-out;
    height: auto;
}

.listSide ul li {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    margin-left: 35px;
    color: ivory;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    transition: background 3s;
    box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}
  
.listSide ul li:hover {
    background: #e07613;
    transition: background .45s;
    animation: spring 300ms ease-out;
}
  
.listSide ul a {
    display: block;
    color: ivory;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    transition: color .3s;
}

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }
    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }
    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}


           /****************************************************
            *                   CSS CHAT JEU                   *
            ****************************************************/

.contentGame {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 700px;
    background-color: #1E1F25;
    padding: 10px;
    border-radius: 20px;
}

.contentGame h2, .contentGame h3 {
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    color: white;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}

.contentGame h2 {
    top: -35px;
    left: 15px;
}

.contentGame h3 {
    right: -11px;
    top: -10px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}

.contentGame main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: rgba(255, 255, 255, 0.74);
    overflow-y: scroll;
    line-height: 1.2;
    scrollbar-color: #000 rgba(0,0,0,.15);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.contentGame main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}

.contentGame main .mp {
    color: darkblue;   
}

.contentGame main .moi {
    color: green;   
}

.contentGame main .system {
    color: red;   
}

.contentGame main img {
    max-width: 50%;
    vertical-align: text-top;
}   

           /****************************************************
            *                  PIED CHAT JEU                   *
            ****************************************************/

.contentGame footer {
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}

.contentGame footer input {
    height: 22px;
    font-size: 15px;
}

.contentGame > footer input:first-child {
    width: calc(100% - 330px);
    font-size: 12px;
}

.contentGame > footer input:last-child {
    float: right;
}
        
.contentGame aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.74);
    line-height: 1;
    font-size: 14px;
    overflow: auto;
}


           /****************************************************
            *                   CSS JEU                   *
            ****************************************************/

.bcImageGame{
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

.gameMain{
    position: absolute;
    top: 0%;
    left: 40%;
    height: 100%;
    width: 60%
}


           /****************************************************
            *                      TITRE                       *
            ****************************************************/

#imageTitre{
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 8%;
}


           /****************************************************
            *                    FENETRE JEU                   *
            ****************************************************/

.gameScreen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/fondJeu.png");
}

.gameScreen table{
    position: absolute;
    display: inline-block;
    background-color: inherit;
    left: 3%;
    top: 85%;
}

.gameScreen table, td {
    border: 1px solid #333;
    text-align:center; 
}

.gameScreen thead {
    background-color: #333;
    color: #fff;
    text-align:center;
}

.gameScreen td{
    max-width: 111px;
    overflow: hidden;
    width: 111px;
}


           /****************************************************
            *               BOUTON LANCEMENT JEU               *
            ****************************************************/

.gameMain .btnLancer{
    position:absolute;
    top:50%;
    left:40%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.gameMain .btnLancer:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


           /****************************************************
            *                   MESSAGE JEU                    *
            ****************************************************/

.gameMain .message {
    position: absolute;
    width:600px;
    padding: 3px;
    top: 48%;
    left: 22%;
    text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000;
    color:#FF0000;
    background-color:#262626;
    font-size: 22px;
    text-align:center
}


           /****************************************************
            *                      JOUEURS                     *
            ****************************************************/

.joueur{
    position: absolute;
    width: 320px;
    height: 180px;
}

.pseudo{
    position: absolute;
    left: 250px;
    top: 15%;
    width: 100px;
    text-align: center;
    overflow: auto;
    text-shadow:   -1px -1px 0 #fff,  1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 1px 1px 10px #141414;color:#333;
    background-color:#EDFFF6;
}

.gameMain .joueur:nth-of-type(1){
    bottom:5vh;
    left: 35vw;
}

.gameMain .joueur:nth-of-type(2){
    bottom:5vh;
    left: 5vw;
}

.gameMain .joueur:nth-of-type(3){
    top: 40vh;
    left: -2vw;
    transform: rotate(90deg);
}

.gameMain .joueur:nth-of-type(4){
    top:5vh;
    left: 5vw;
    transform: rotate(-180deg);
}

.gameMain .joueur:nth-of-type(5){
    top:5vh;
    left: 35vw;
    transform: rotate(-180deg);
}

.gameMain .joueur:nth-of-type(6){
    top:40vh;
    right: -2vw;
    transform: rotate(-90deg);
}

        /* Rotation des joueurs en fonction de leur position */
.gameMain .joueur:nth-of-type(3) p{
    transform: rotate(-90deg);
}

.gameMain .joueur:nth-of-type(4) p{
    transform: rotate(180deg);
}

.gameMain .joueur:nth-of-type(5) p{
    transform: rotate(180deg);
}

.gameMain .joueur:nth-of-type(6) p{
    transform: rotate(90deg);
}


           /****************************************************
            *                     CARTES                       *
            ****************************************************/

.carte{
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    font-size:80px;
}

.communiste::before{
    content:"☭";
    color: red;
    border-radius: 40px;
    background-size: contain;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}

.templier::before{
    content: "✠";
    color: turquoise;
    border-radius: 40px;
    background-size: contain;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}

.scientifique::before{
    content:"⚛";
    color: purple;
    border-radius: 40px;
    background-size: contain;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}

.musulman::before{
    content: "☪";
    color:yellowgreen;
    border-radius: 40px;
    background-size: contain;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}

.japonais::before{
    content:"☢";
    color: green;
    border-radius: 40px;
    background-size: contain;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}

.hufflenien::before{
    content: "♪";
    color: blue;
    border-radius: 40px;
    background-size: contain;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}


           /****************************************************
            *              CARTES JOUEUR COURANT               *
            ****************************************************/

.joueur main > .retournee.rose::before  {
    content: "⚜";
    color: black;
    border-radius: 40px;
    background: #970b0b;
}

.joueur main > .retournee.crane::before {
    content: "☠";
    color: black;
    border-radius: 40px;
    background: #696868;
}


           /****************************************************
            *                      PILES                       *
            ****************************************************/

.pile{
    position: relative;
    left: 35%;
    top: -10px;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: radial-gradient(#eacda3, #e6b980);
    transform-origin: 50% 50%;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.pile::before {
    content: "☠";
    color: #000000;
    font-size: 90px;
    position: absolute;
    left: 5px;
    top: -15px;
}

.pile::after{
    background: transparent;
}

.pile .carte{ 
    display: inherit;
    position: absolute;
    top: 5px;
    left: 7px;
}

.nbCartePile{
    position: absolute;
    left: 70%;
    top: 25%;
}


           /****************************************************
            *                  ANIMATION PILE                  *
            ****************************************************/

.pile.retournee{
    position: relative;
    left: 35%;
    top: -10px;
    width: 100px;
    height: 100px;
    background: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
}

.pile.retournee::before{
    animation-name: rotating; 
    animation-timing-function: linear; 
    animation-iteration-count: 1; 
    animation-duration: 2s;
    transform-style: preserve-3d;
    background-image: radial-gradient(#434343 , black);
    content: "⚘";
    color: #a33807;
    font-size: 90px;
    position: absolute;
    width: 100px;
    height: 100px;
    top:0px;
    left:0px;
    text-align: center;
}

@keyframes rotating {
    0% { 
        transform: rotateY(0deg) rotateX(0deg); 
        background-image: radial-gradient(#eacda3, #e6b980);
       }
       25% { 
        transform: rotateY(-45deg) rotateX(0deg); 
        background-image: radial-gradient(#eacda3, #e6b980);
       } 
      50% { 
        transform: rotateY(90deg) rotateX(0deg);
       }
      75% { 
        transform: rotateY(-135deg) rotateX(0deg); 
        background-image: radial-gradient(#434343 , black);
    }
      100% { 
        transform: rotateY(-180deg) rotateX(0deg); 
       }
}


           /****************************************************
            *                       MISE                       *
            ****************************************************/

.divMise{
    position: absolute;
    top :55%;
    left :40%;
    text-align: center;
}

.divMise .txtMiser{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.divMise input[type="button"]{
    margin-right: 3px;
    border:none;
	padding:6px 3px 6px 3px;
	border-radius:8px;
	background:#d34836;
	font:bold 13px Arial;
    color:#fff;
}

.divMise input[type="button"]:disabled, .divMise input[type="button"][disabled]{
    background:#9e8b88;
}

.divMise input[type="button"]:disabled:hover, .divMise input[type="button"][disabled]:hover{
    background:#9e8b88;
}

.divMise input[type="button"]:hover{
    background:#000000;
}

.divMise input[type=text] {
    font-family: "Open Sans", sans-serif;
    border: 0.1em solid #ccc;
    border-radius: 0.2em;
    background-color: #f9f9f9;
    padding: 0em 1em;
    font-size: 12px;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 8px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}


           /****************************************************
            *                     DEFAUSSE                     *
            ****************************************************/

.gameMain .defausse{
    position:absolute;
    top:35%;
    left:35%;
}

.defausse >  .selectionne.rose::before  {
    content: "⚜";
    color: black;
    border-radius: 40px;
    background: #970b0b;
}

.defausse > .selectionne.crane::before {
    content: "☠";
    color: black;
    border-radius: 40px;
    background: #696868;
}