body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;   
}
body > div {
    box-shadow: -10px 10px 20px #A0A0A0;
    border: solid 1px #A0A0A0;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 700px;
    background-color: beige;
    padding: 10px;
}
#content h2, #content h3{
    position: absolute;
    display: inline-block;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}

#content h2 {
    top: -35px;
    left: -1px;
}

#content h3 {
    right: -11px;
    top: -28px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}
#content main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: white;
    overflow-y: scroll;
    line-height: 1.2;
}
#content main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}

#content main p a{
    cursor: pointer;
}

#content main .mp {
    color: darkblue;   
}
#content main .moi {
    color: green;   
}
#content main .system {
    color: red;   
}
#content main img {
    max-width: 50%;
    vertical-align: text-top;
}   

/** Pied de zone de chat */        
#content footer {
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}
#content footer input {
    height: 22px;
    font-size: 15px;
}
#content > footer input:first-child {
    width: calc(100% - 330px);
    font-size: 12px;
}
#content > footer input:last-child {
    float: right;
}
        
#content aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: white;
    line-height: 1;
    font-size: 14px;
    overflow: auto;

}

/** 
 * Style pour les émoticones
 */
.emoji {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/emoji.png");
    background-size: 72px 72px;
}  
.rire {
    background-position: -4px -4px;   
}
.zzz {
    background-position: -28px -4px;   
}
.love {
    background-position: -52px -4px;   
}
.holala {
    background-position: -4px -28px;   
}
.grrr {
    background-position: -28px -28px;   
}
.triste {
    background-position: -52px -28px;   
}
.sourire {
    background-position: -4px -52px;   
}
.banane {
    background-position: -28px -52px;   
}
.malade {
    background-position: -52px -52px;   
}
        
        
body > div, body > input[type=radio] {
    display: none;   
}
        
input[type=radio]:checked + div {
    display: block;   
}
    
        
#logScreen {
    background: rgba(200, 200, 200, 0.8);
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#logScreen > div {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}
#logScreen input, #bcImages input, .bcImagesGame input {
    padding: 3px;
    font-size: 80%;
    margin: 10px;
}

#bcImage, .bcImageGame{
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}
#bcImage input[type=text], .bcImageGame input[type=text] {
    margin: 10px;
    width: calc(100% - 120px);
}

#bcImage #btnFermer, .bcImageGame .btnFermerGame{
    position: absolute; 
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#bcImage #bcResults{
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
}

.bcImageGame .bcResultsGame{
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
}

#bcImage #bcResults{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.bcImageGame .bcResultsGame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

#bcResults img, .bcResultsGame img {
    width: 190px;
    margin: 2px;
    height: auto;
    cursor: pointer;
    align-self: center;
}

#fenetreInvit{
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

#fenetreInvit footer{
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}

#fenetreInvit #invitations label{
    cursor:pointer;
}

#fenetreInvit input[type=checkbox]{
    visibility: hidden; 
}

#content main p a{
    text-decoration: underline blue;
}
#content main p a:hover {
    background-color:yellow;
    transition-duration: 2s;

}

/*
 *Css pour le chat du jeu
 *
 */


.contentGame {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 700px;
    background-color: beige;
    padding: 10px;
}
.contentGame h2, .contentGame h3 {
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
.contentGame h2 {
    top: -35px;
    left: -1px;
}
.contentGame h3 {
    right: -11px;
    top: -28px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}
.contentGame main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: white;
    overflow-y: scroll;
    line-height: 1.2;
}
.contentGame main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
.contentGame main .mp {
    color: darkblue;   
}
.contentGame main .moi {
    color: green;   
}
.contentGame main .system {
    color: red;   
}
.contentGame main img {
    max-width: 50%;
    vertical-align: text-top;
}   

/** Pied de zone de chat */        

.contentGame footer {
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}
.contentGame footer input {
    height: 22px;
    font-size: 15px;
}
.contentGame > footer input:first-child {
    width: calc(100% - 330px);
    font-size: 12px;
}
.contentGame > footer input:last-child {
    float: right;
}
        
.contentGame aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: white;
    line-height: 1;
    font-size: 14px;
    overflow: auto;
}

/*
 * CSS pour le jeu
 */

.bcImageGame{
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

.gameScreen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/fondJeu.png");
}

.gameMain{
    position: absolute;
    top: 0%;
    left: 40%;
    height: 100%;
    width: 60%
}
/*
.gameMain .message{
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 22px;
}*/

#imageTitre{
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 8%;
}

.gameScreen table{
    position: absolute;
    display: inline-block;
    background-color: inherit;
    left: 5%;
    top: 85%;
}

.gameScreen table, td {
    border: 1px solid #333;
    text-align:center; 
}

.gameScreen thead {
    background-color: #333;
    color: #fff;
    text-align:center;
}

.gameScreen td{
    max-width: 100px;
    overflow: hidden;
    width: 100px;
}

.gameMain .message {
    position: absolute;
    top: 48%;
    left: 33%;
    text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000;
    color:#FF0000;
    background-color:#262626;
    font-size: 22px;

}

.gameMain .joueur .sPage{
    position: absolute;
    top :10%;
}

.carte{
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.amazons{
    background-image: url(../images/amazons.png);
}

.carnivorous{
    background-image: url(../images/carnivorous.png);
}

.cyborgs{
    background-image: url(../images/cyborgs.png);
}

.indians{
    background-image: url(../images/indians.png);
}

.jokers{
    background-image: url(../images/jokers.png);
}

.swallows{
    background-image: url(../images/swallows.png);
}

.joueur{
    position: absolute;
}

.gameMain .joueur:nth-of-type(1){
    bottom:5vh;
    left: 35vw;
}

.gameMain .joueur:nth-of-type(2){
    bottom:5vh;
    left: 5vw;
}

.gameMain .joueur:nth-of-type(3){
    top: 45vh;
    left: -5vw;
    transform: rotate(90deg);
}

.gameMain .joueur:nth-of-type(4){
    top:5vh;
    left: 5vw;
    transform: rotate(-180deg);
}

.gameMain .joueur:nth-of-type(5){
    top:5vh;
    left: 35vw;
    transform: rotate(-180deg);
}

.gameMain .joueur:nth-of-type(6){
    top:45vh;
    right: -5vw;
    transform: rotate(-90deg);
}

.nbCartePile{
    position: absolute;
    left: 70%;
    top: 15%;
}

.pile{
    position: relative;
    left: 35%;
    top: -150%;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/carre_skull.png);
}

.pile .carte{ 
    display: inherit;
    position: absolute;
}

.pseudo{
    position: absolute;
    left: 100%;
    top: 20%;
    width: 100px;
    text-align: center;
    overflow: auto;
    text-shadow:   -1px -1px 0 #fff,  1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 1px 1px 10px #141414;color:#333;
    background-color:#EDFFF6;
}

.gameMain .joueur:nth-of-type(3) p{
    transform: rotate(-90deg);
}

.gameMain .joueur:nth-of-type(4) p{
    transform: rotate(180deg);
}

.gameMain .joueur:nth-of-type(5) p{
    transform: rotate(180deg);
}

.gameMain .joueur:nth-of-type(6) p{
    transform: rotate(90deg);
}

.divMise{
    position: absolute;
    top :55%;
    left :40%;
    text-align: center;
}

.divMise .txtMiser{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.gameMain .btnLancer{
    position:absolute;
    top:50%;
    left:40%;
}

.gameMain .defausse{
    position:absolute;
    top:50%;
    left:40%;

}

.defausse >  .selectionne.rose  {
    background-image: url(../images/recto_roses.png);
}

.defausse > .selectionne.crane {
    background-image: url(../images/recto_skull.png);
}

.joueur main > .retournee.rose  {
    background-image: url(../images/recto_roses.png);
}

.joueur main > .retournee.crane  {
    background-image: url(../images/recto_skull.png);
}
